*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.container{
    position: relative;
    height:100vh;
    background-color: gray;
}

.header{
    position:relative;
    height:10%;
    background-color:black;
}

.menu-options{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
}

.menu-options div{
    color:white;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.menu-options div:hover{
    color: #55efc4;
    transform: scale(1.15);
}

.name-logo{
    position:absolute;
    left:3%;
    border-radius: 50%;
    height: 70px;
}

.name-logo:hover{
    transform: scale(1.15);
}

.about{
    margin-left: 40px;
}

.resume{
    margin-left: 40px;
}

.project{
    margin-left: 40px;
}

.contact{
    margin-left: 40px;
}

.menu-options div:hover{
    font-size: 150%;
}

.content-page{
    position: relative;
    height: 80%;
    background-color:#636e72;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-outer{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/417/673/89/black-texture-background-wallpaper-preview.jpg");
    height:30rem;
    width: 50rem;
    position: relative;
    border-radius: 12%;
}

.about-me-inner{
    position: absolute;
    left:45%;
    top:11%;
    font-size: 1.5rem;
    color: #feca57;
    line-height: 1.8;
    font-family: 'DM Sans', sans-serif;
}

.about-me{
    font-family: 'Montserrat', sans-serif;
    color: #e74c3c;
    font-weight: 600;
    font-size: 2.5rem;
    margin-left: 90px;
}

.about-me-inner span{
    color: #00cec9;
    font-family:'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.my-self{
    height: 75%;
    width: 15rem;
    position: absolute;
    top:50%;
    left: 30px;
    transform: translateY(-50%);
}

.skill-outer-container{
    position: absolute;
    top:600px;
    height: 30rem;
    width: 50rem;
    background-color: black;   
}

.skill-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #e74c3c;
    text-align: center;
    margin-top: 5%;
}

.footer{
    height:10%;
    background-color:black;
}

