*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.container{
    height:100vh;
    background-color: gray;
}

.header{
    position:relative;
    height:10%;
    background-color:black;
}

.menu-options{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
}

.menu-options div{
    color:white;
    font-size: 1.5rem;
}

.menu-options div:hover{
    color: aquamarine;
    transform: scale(1.15);
}

.name-logo{
    position:absolute;
    left:3%;
    border-radius: 50%;
    height: 70px;
}

.name-logo:hover{
    transform: scale(1.15);
}

.about{
    margin-left: 40px;
}

.resume{
    margin-left: 40px;
}

.project{
    margin-left: 40px;
}

.contact{
    margin-left: 40px;
}

.menu-options div:hover{
    font-size: 150%;
}

.content-page{
    height: 80%;
    background-color:gray;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-outer{
    height:30rem;
    width: 50rem;
    background-color: black;
    position: relative;
}

.about-me-inner{
    position: absolute;
    left:45%;
    top:11%;
    font-size: 1.5rem;
    color: yellow;
    line-height: 1.8;
}

.about-me{
    color: crimson;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 100px;
}

.my-self{
    height: 75%;
    width: 15rem;
    position: absolute;
    top:50%;
    left: 30px;
    transform: translateY(-50%);
}

.footer{
    height:10%;
    background-color:black;
}

